<div id="popupContainer" ng-clock="" class="md-inline-form">

  <!-- Todos input -->

  <md-content>
    <section layout-padding>
      <h1>Hello!</h1>
      <p>This form will calculate what your (gross) salary would look like for your current rota, according to the <a href="http://www.nhsemployers.org/~/media/Employers/Documents/Need%20to%20know/JD%20A4%20booklet%20FINAL.pdf" target="_blank">NHS Employers' Junior Doctors' Contract Offer</a>.</p>
      <p>Simply:</p>
      <ol>
        <li>Open your current rota.</li>
        <li>Select everything (even if it contains multiple people).</li>
        <li>Copy and paste into the text box below.</li>
        <li>And click the 'Automagic' button.</li>
      </ol>
      <p></p>
    </section>
    <section layout-padding>
      <md-input-container class="md-block">
        <label>Copy/paste your rota here</label>
        <textarea ng-model="shifts" columns="1" rows="5" ng-trim="false" md-no-autogrow></textarea>
      </md-input-container>
    </section>
    <section layout-padding layout="row" layout-align="center center">
      <md-button class="md-primary" layout-align="center center" ng-click="troubleshootDialog($event)">
        Troubleshoot
      </md-button>
      <md-button class="md-primary md-raised" layout-align="center center" ng-click="parseShifts($event)">
        Automagic
      </md-button>
    </section>
  </md-content>



<script type="text/ng-template" id="rota-options.dialog.html">
  <md-dialog aria-label="Rota options" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Hooray it worked!</h2>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content" layout="column">
          <h2 ng-if="ctrl.parent.finalRota.userID > -1">And who might you be?</h2>
          <md-select aria-label="User's name on rota" ng-if="ctrl.parent.finalRota.userID > -1" ng-model="ctrl.parent.finalRota.userID">
            <md-option ng-repeat="peep in ctrl.parent.finalRota.people" value="{{peep.id}}">
              {{peep.name}}
            </md-option>
          </md-select>
          <h2>What's your rota's start date?</h2>
          <p>(This is needed to work out which hours are Saturdays and Sundays)</p>
          <md-datepicker ng-model="ctrl.parent.finalRota.startDate" md-placeholder="Enter date"></md-datepicker>
        </div>
      </md-dialog-content>

      <div class="md-actions" layout="row">
        <md-button ng-click="ctrl.parent.hideRotaDialog('useful')" class="md-primary">
          Let's go!
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>


  <script type="text/ng-template" id="rota-troubleshoot.dialog.html">
    <md-dialog aria-label="Couldn't quite catch that" ng-cloak>
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Troubleshooting</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content" layout="column">
            <p>This can handle lots of different rota formats, but as you know some are trickier than others. If yours is a monster let's try a few things.</p>
            <ul>
              <li>Are all the dates in a consistent format? E.g. "day/month".</li>
              <li>Is your name consistent throughout? E.g. no changing department or role</li>
              <li>Is your rota spread across multiple tabs in a spreadsheet? You can copy/paste them all into the same box - just leave a few lines between each block.</li>
              <li>Can you copy/paste a smaller/simpler section of the document? This basically only needs the dates, your name (if applicable) and the shifts (e.g. see below).</li>
            </ul>
            <p>If it still doesn't work, try create a real simple version, like this (or swap the rows/columns if you fancy):</p>
            <table>
              <tr>
                <td>Date</td>
                <td>Person 1</td>
              </tr>
              <tr>
                <td>01-Nov</td>
                <td>Night</td>
              </tr>
              <tr>
                <td>02-Nov</td>
                <td>Day</td>
              </tr>
            </table>
            <p>If it STILL doesn't work ( :-( ) please email info@busily.co.uk and I'll see what I can do!</p>
          </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
          <md-button ng-click="hide()" class="md-primary">OK</md-button>
        </div>
      </form>
    </md-dialog>
  </script>