<div id="popupContainer" ng-clock="" class="md-inline-form">

    <md-content>
        <section layout-padding>

            <p><a ng-href="#/">Home</a> &gt; <a ng-href="#/rotaviewer">Edit Rota</a> &gt; Salary Calculator</p>

        </section>

        <section layout-padding>

            <md-input-container flex>
                <label>Current grade</label>
                <md-select aria-label="Current Grade" ng-model="calculated.grade" ng-change="recalculate()">
                    <md-option ng-repeat="grade in grades" value="{{$index}}">
                        {{grade}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Current basic pay</label>
                <md-select aria-label="Current Basic Pay" ng-model="calculated.Pay" ng-change="recalculate()">
                    <md-option ng-repeat="(key, value) in existingPay" value="{{key}}">
                        {{key+" "+(value[1] | currency)}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Fraction of full-time</label>
                <md-select aria-label="Fraction of full-time" ng-model="calculated.FullTime" ng-change="recalculate()">
                    <md-option ng-repeat="(key, value) in fulltime" value="{{value}}">
                        {{key}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Current banding</label>
                <md-select aria-label="Current Banding" ng-model="calculated.Band" ng-change="recalculate()">
                    <md-option ng-repeat="(key, value) in oldBands" value="{{key}}">
                        {{key}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Deanery</label>
                <md-select ng-model="calculated.Deanery" ng-change="recalculate()">
                    <md-option ng-repeat="deanery in deaneries" value="{{$index}}">
                        {{deanery}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>What's your specialty?</label>
                <md-select aria-label="Specialty" ng-model="calculated.Specialty" ng-change="recalculate()">
                    <md-option ng-repeat="specialty in specialties" value="{{$index}}">
                        {{specialty}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>What's your sub-specialty?</label>
                <md-select aria-label="Sub-specialty" ng-model="calculated.SubSpecialty" ng-change="recalculate()" ng-disabled="subSpecialties[specialties[calculated.Specialty]] == undefined">
                    <md-option ng-repeat="sub in subSpecialties[specialties[calculated.Specialty]]" value="{{$index}}">
                        {{sub}}
                    </md-option>
                </md-select>
            </md-input-container>

        </section>

        <section layout-padding>

            <h2>Gross salary comparison</h2>

            <div flex layout="row" layout-align="center center">

            <table class="salarytable">
                <tbody>
                <tr class="total">
                    <td>&nbsp;</td>
                    <td>Current Package</td>
                    <td>Proposed Package</td>
                </tr>
                <tr>
                    <td>Basic Pay</td>
                    <td class="currency">{{calculated.PayValue | currency}}</td>
                    <td class="currency">{{calculated.NodePay | currency}}</td>
                </tr>
                <tr>
                    <td>Banding</td>
                    <td class="currency">{{calculated.BandValue | currency}}</td>
                    <td class="currency">N/A</td>
                </tr>
                <tr>
                    <td>London Weighting</td>
                    <td class="currency">{{calculated.LondonValue | currency}}</td>
                    <td class="currency">{{calculated.LondonValue | currency}}</td>
                </tr>
                <tr>
                    <td>Additional Rostered Hours ({{rotaSummary.weeklyStats.additionalRosteredHours | number : 2}})</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.ExtraHoursValue.additionalBasicHours | currency}}</td>
                </tr>
                <tr>
                    <td>Saturday Hours ({{rotaSummary.weeklyStats.saturdayHours | number : 2}})</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.ExtraHoursValue.satHours | currency}}</td>
                </tr>
                <tr>
                    <td>Sunday Hours ({{rotaSummary.weeklyStats.sundayHours | number : 2}})</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.ExtraHoursValue.sunHours | currency}}</td>
                </tr>
                <tr>
                    <td>Night Hours ({{rotaSummary.weeklyStats.nightHours | number : 2}})</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.ExtraHoursValue.nightHours | currency}}</td>
                </tr>
                <tr>
                    <td>On-Call Allowance ({{calculated.OnCallAllowance}}%)</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.OnCallAllowanceValue | currency}}</td>
                </tr>
                <tr>
                    <td>Programme Premia</td>
                    <td class="currency">N/A</td>
                    <td class="currency">{{calculated.Premia | currency}}</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td class="currency">{{calculated.Package | currency}}</td>
                    <td class="currency">{{calculated.proposedPackage | currency}}</td>
                </tr>
                <tr class="total">
                    <td>Difference</td>
                    <td class="currency">&nbsp;</td>
                    <td class="currency" ng-class="calculated.differenceStyle">
                        {{calculated.differenceValue | currency}}<br />
                        ({{calculated.differencePercent | number:1}}%)
                    </td>
                </tr>
                </tbody>
            </table>

            </div>

        </section>

        <section layout-padding>

            <h2>I need your help!</h2>

            <p>I'd like to do 2 things:</p>

            <ol>
                <li>Let you use this tool to save/lookup your rota and share it with your friends/loved ones. For free. Maybe even an app or something fancy like that.</li>
                <li>ANONYMOUSLY use the data above to create some reports about how many junior doctors will be impacted - for better or worse - by this new contract.</li>
            </ol>

            <p>If either of those sound good to you, please provide your email address below so I can keep you updated - and that's all it'll be used for.</p>

            <md-input-container>
                <label>Email</label>
                <input ng-model="email" type="email" validate>
            </md-input-container>

            <md-checkbox ng-model="canContact" aria-label="Opt In to receive updates">
                Opt In to receive updates
            </md-checkbox>
            <md-checkbox ng-model="canUseData" aria-label="Opt In to anonymously share data">
                Opt In to anonymously share data
            </md-checkbox>

            <md-button class="md-primary md-raised" ng-click="saveData(true)">
                Submit Data
            </md-button>

        </section>

    </md-content>

</div>