doctype html

html(lang='en', ng-app='busilyApp')
head
  meta(name='viewport', content='initial-scale=1')

  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

  body(layout='column', ng-controller='AppController as vm')
    md-toolbar(layout='row')
      .md-toolbar-tools
        md-button.md-icon-button(ng-click="vm.toggleSidenav('left')", hide-gt-sm='')
          md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')

        h1 Angular Material: &nbsp; Starter CodePen #{title}

    div(layout='row', flex='')
      md-sidenav.md-sidenav-left.md-whiteframe-4dp(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
        md-button.md-accent Button 1
        md-button.md-accent Button 2

      #content(layout='column', flex='')
        md-content.md-padding(layout='column', flex='')
          | This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area.
          p This is the content area!

          .container(ng-view="")

          if (rota)
            include includes/rotas

    // Angular Material Dependencies
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/services/gridobject.js')
    script(src='javascripts/services/findincremental.js')
    script(src='javascripts/services/datefinder.js')
    script(src='javascripts/services/rosterobject.js')
    script(src='javascripts/controllers/rotariser.js')
