doctype html

html(lang='en', ng-app='busilyApp')
head
  meta(name='viewport', content='initial-scale=1')

  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/skygradients.css')

  body(layout='column', ng-controller='AppController as vm')
    md-toolbar
      .md-toolbar-tools
        md-icon(md-svg-icon='img/icons/logo-white.svg',aria-label='Busily Logo')
        h2
          |&nbsp;&nbsp;Busily
        span(flex='')

    div(layout='row', flex='')

      #content(layout='column', flex='')
        md-content.md-padding(layout='column', flex='')

          .container(ng-view="")

          if (rota)
            include includes/rotas

    // Angular Material Dependencies
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js')
    script(src='https://cdn.jsdelivr.net/angularjs/1.4.7/i18n/angular-locale_en-gb.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js')

    script(src='javascripts/app.js')
    script(src='javascripts/services/gridobject.js')
    script(src='javascripts/services/findincremental.js')
    script(src='javascripts/services/datefinder.js')
    script(src='javascripts/services/rosterobject.js')
    script(src='javascripts/services/rotastorage.js')
    script(src='javascripts/controllers/rotariser.js')
    script(src='javascripts/controllers/rotaviewer.js')
    script(src='javascripts/controllers/salarycalc.js')
    script(src='javascripts/controllers/login.js')

