doctype transitional
html
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		title=subject
		body
			p You recently requested a new password from roundedglobe.com. Your new password is:
			p=password
			p Thank you,
			p Rounded Globe.
