doctype transitional
html
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		title=subject
		body
			p You recently requested a new password from busily.co.uk. Please visit the following web address to choose a new password:
			p http://busily.co.uk/newpassword/
			=token
			p Thank you,
			p Rounded Globe.
