.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.home section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.home md-content {
  margin-right: 7px; }
.home section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }


.rotatextbox {
  background-colour: #cccccc;
}

table.statstable, table.statstable td {
  border-collapse: collapse;
  padding: 5px;
}
table.statstable td.title {
  font-weight: bold;
}
table.statstable td.stat {
  text-align: right;
}

table.salarytable, table.salarytable td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
}
table.salarytable tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table.salarytable tr:nth-child(even) {
  background-color: #ffffff;
}

table.salarytable td.currency {
  text-align:right;
}
table.salarytable td.better {
  background: #00ff00;
}
table.salarytable td.worse {
  background: #ff0000;
}
table.salarytable tr.total {
  font-weight: bold;
}